html{
  overflow: auto;
}

.full-html{
  position: fixed;
  overflow-y:scroll;
  width:100%;
}

body {
  direction: ltr;
}

#{headings()} {
  font-weight: $thin;
  font-size: 3em;
  line-height: 2em;
}
strong {
  font-weight: $bold;
}
p {
  font-weight: $thin;
  padding-bottom: 10px;
}

blockquote p{
  quotes: "“" "”";
  color:$light-green;
}
blockquote p:before {
    content: open-quote;
}
blockquote p:after {
    content: close-quote;
}
