body {
  font: $myriadFont;
}
@include sticky-footer(400px);
footer {
  background: $grey;
}
.container {
  @include container(70%);
}
article.content {
  margin: 50px 0;
  animation: 1s ease 0s normal none 1 running fadein;
  @keyframes fadein {
    0% {
      opacity: 0.3;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #{headings()} {
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: left;
  }
  p {
    line-height: 2em !important;
    text-align: justify;
  }
}
