body {
  font: $myriadFont;
  transition: ease all 1s;
}
@include sticky-footer(40px);
footer {
  background: $grey;
}
.container {
  @include breakpoint(min-width $medium) {
    @include container(960px);
  }
  @include breakpoint(max-width $medium) {
    @include container(90%);
  }
}
.content {
  @include breakpoint(max-width $small) {
    @include span(12 of 12);
  }
  @include span(9 of 12);
  &.full{
    @include span(12 of 12);
  }
  margin: 50px 0;
  // border-left: 1px solid darken($light,3);
  // padding-left: 10px;
  animation: 1s ease 0s normal none 1 running fadein;
  @keyframes fadein {
    0% {
      opacity: 0.3;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #{headings()} {
    @include breakpoint(max-width $small) {
      font-size: 1.4em;
    }
    color:$light-green;
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 1.7em;
    font-weight: 200;
    text-align: left;
  }
  p {
    @include breakpoint(max-width $small) {
      font-weight:100;
    }
    line-height: 2em !important;
    // text-align: justify;
  }

  pre,code, pre code{
    font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  }

  ol{
    margin-left:20px;
    list-style-type:decimal;
  }
  ul{
    list-style-type: disc;
    margin-left:20px;
  }
  hr{
    border:1px solid #eee;
  }

}
