body {
  font: $myriadFont;
}
@include sticky-footer(400px);
footer {
  background: $grey;
}
.container {
  @include container(85%);
}
.content {
  @include span(9 of 12);
  margin: 50px 0;
  border-left: 1px solid darken($light,3);
  padding-left: 10px;
  animation: 1s ease 0s normal none 1 running fadein;
  @keyframes fadein {
    0% {
      opacity: 0.3;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #{headings()} {
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: left;
  }
  p {
    line-height: 2em !important;
    text-align: justify;
  }

  blockquote{
    background:#f7f7f7 none repeat scroll 0 0;
    margin-left:20px;
    display: block;
    padding:10px;
  }

  ol{
    margin-left:20px;
    list-style-type:decimal;
  }
  ul{
    list-style-type: disc;
    margin-left:20px;
  }
  hr{
    border:1px solid #eee;
  }

}
