aside.main-side {
  @include span(3 of 12);
  min-height: 500px;
  margin-top: 60px;
  padding: 10px;
  hr {
    border: 1px solid darken($light,3);
  }
  h3 {
    font-size: 13px;
    font-weight: 500;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 5px;
      -webkit-transition: ease all ease0.2s;
      -o-transition: ease all ease0.2s;
      transition: ease all ease0.2s;
      &:hover {
        a {
          background: darken($light,3);
          color: $blue;
        }
      }
      a {
        display: block;
        position: relative;
        padding: 10px;
        text-decoration: none;
        color: $black;
        -webkit-transition: ease all ease0.2s;
        -o-transition: ease all ease0.2s;
        transition: ease all ease0.2s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        i {
          float: left;
          position: relative;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}
