footer {
  .container {
    ul {
      float: left;
      margin: 30px 0;
      @include span(3 of 12);
      li.footer-title {
        margin-bottom: 10px;
      }
      li {
        margin-bottom: 5px;
        color: $black-lighter;
        height: auto;
        a {
          display: block;
          position: relative;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}
