.hero{
  height:200px;
  overflow:hidden;
  text-align: center;
  img{
    filter: blur(19px);
    margin: -3%;
    position: relative;
    width: 106%;
  }
  h1{
    color:$light;
    position: relative;
    top:25%;
  }
  h2{
    color:$light;
    position: relative;
    top:40px;
    font-size:24px;
    a{
      color:$light;
      text-decoration: none;
      margin:0 20px;
      -webkit-transition: ease all 0.5s;
      -o-transition: ease all 0.5s;
      -ms-transition: ease all 0.5s;
      transition: ease all 0.5s;
      &:hover{
        color:darken($light,10);
      }
    }
  }
}
