#search-curtain {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 40px;
  width: 100%;
  z-index: 2;
}
.search-close-li {
  float: right !important;
  cursor: pointer;
  width: 30px;
}
#search-close {
  width: 30px;
  height: 30px;
  padding: 0 !important;
  span {
    color: $light;
  }
  &:hover {
    span {
      color: darken($light,30);
    }
  }
  .search-close-right {
    border-right: 1px solid $light;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    top: 4px;
  }
  .search-close-left {
    border-right: 1px solid $light;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(-45deg);
    top: 17px;
  }
}
.search-bar {
  z-index: 9999;
  float: right !important;
  width: 25px;
  #search-icon {
    padding: 0 !important;
    cursor: pointer;
    height: 100%;
    background: url(../../images/search.svg) no-repeat scroll 0 -2px;
  }
}
#search-input {
  content: " ";
  width: 50%;
  left: 25%;
  right: 25%;
  position: fixed;
  top: 0;
  height: 40px;
  .search-icon-form {
    width: 4%;
    float: left;
    padding: 0 !important;
    cursor: pointer;
    height: 100%;
    background: url(../../images/search.svg) no-repeat scroll 0 -2px;
  }
  &.search-input-show {
    animation: 0.3s ease 0s normal none 1 running getin;
    @keyframes getin {
      0% {
        opacity: 0;
        transform: translateX(10px);
      }
      100% {
        opacity: 1;
        transform: TranslateX(0px);
      }
    }
  }
  &.search-input-hide {
    animation: 0.3s ease 0s normal none 1 running getout;
    @keyframes getout {
      0% {
        opacity: 1;
        transform: translateX(0px);
      }
      100% {
        opacity: 0;
        transform: TranslateX(10px);
      }
    }
  }
  input[type="text"] {
    font: $myriadFont;
    height: 100%;
    border: 0;
    width: 96%;
    padding: 1px 0;
    background: rgba(0,0,0,0);
    color: $light;
    z-index: 9999;
  }
}
.scaleup {
  animation: 0.2s ease 0s normal none 1 running scalein;
  display: block !important;
  @keyframes scalein {
    0% {
      opacity: 0;
      transform: scale(0,0);
    }
    100% {
      opacity: 1;
      transform: scale(1,1);
    }
  }
}
.scaledown {
  animation: 0.2s ease 0s normal none 1 running scaleout;
  @keyframes scaleout {
    0% {
      opacity: 1;
      transform: scale(1,1);
    }
    100% {
      opacity: 0;
      transform: scale(0,0);
    }
  }
}
.search-help {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  right: 25%;
  background: $light;
  height: 273px;
  z-index: 10000;
  padding: 10px 5px;
  span {
    font-size: 0.75em;
    box-sizing: content-box;
    letter-spacing: normal;
    margin: 0;
    padding: 22px;
    pointer-events: auto;
    margin-bottom: 20px;
    color: lighten($dark,30);
  }
  .links {
    margin-top: 5px;
    list-style: none;
    li {
      height:35px;
      margin-bottom: 5px;
      -webkit-transition: ease all 0.2s;
      -o-transition: ease all 0.2s;
      transition: ease all 0.2s;
      a {
        padding:10px 50px;
        width:100%;
        height:100%;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        display: block;
        color: lighten($black,40);
        text-decoration: none;
        -webkit-transition: ease all 0.2s;
        -o-transition: ease all 0.2s;
        transition: ease all 0.2s;
      }
      &:hover {
        background: darken($light,5);
        a {
          color: #08c;
        }
      }
    }
  }
}

.search-help-show{
  animation: 0.3s ease 0s normal none 1 running getin;
  @keyframes getin {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: TranslateX(0px);
    }
  }
}

.search-help-hide{
  animation: 0.3s ease 0s normal none 1 running getout;
  @keyframes getout {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: TranslateX(10px);
    }
  }
}
