.bar{
  width:100%;
  ul{
    display: inline-block;
    li{
      list-style:none;
      float:left;
      margin: 20px 10px;
      &:first-child{
        margin-left:0;
      }
      a{
        text-decoration: none;
        background: $red;
        color:$light;
        padding:5px 10px;
      }
    }
  }
}
